@import iconos



.demo-layout-transparent {
  background: url('images/Hexagon-3.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {

  color: white;
  }
  
  div.mdl-layout__drawer
  	width 150px