@import iconos
body
	background azulObscuro 
div.login
	background azulObscuro
	figure
		margin 0% auto 5% auto
		padding 0
		width 80%
		display block
		img
			width 100%
	form
		input[type=email],input[type=password]
			border none
			margin 20px auto
			display block
			color blanco
			background azulObscuro
			border-bottom 3px solid plata
			padding 2%
			transition all 1s
			&:focus
				border-bottom 3px solid naranja
				transition all 1s 
		input[type=submit]
			
			border none
			background naranja
			color blanco
			padding 4%
			display block
			margin 10px auto
			border-bottom 3px solid blanco
